{{#ui-block title=(if author.isNew 'Create new author' 'Edit author')}}
  {{ui-model-error model=author}}
  {{#ui-row title='Name'}}
    {{ui-input value=author.name}}
  {{/ui-row}}
  {{#ui-row title='Email'}}
    {{ui-input value=author.email}}
  {{/ui-row}}
  {{#ui-row title='Blogs'}}
    {{#ui-select array=blogs selected=author.blogs action=(action 'updateBlogSelection') as |blog|}}
      {{blog.name}}
    {{/ui-select}}
  {{/ui-row}}
  {{#ui-row}}
    {{ui-button title='Save' action=(action attrs.save author)}}
  {{/ui-row}}
{{/ui-block}}

{{#ui-block title='Internals'}}
  {{#ui-row title='Selected blogs'}}
    {{#each author.blogs as |blog|}}
      <div>{{blog.id}}: {{blog.name}} isDirty={{blog.isDirty}}</div>
    {{else}}
      <div>No blogs selected</div>
    {{/each}}
  {{/ui-row}}
  {{#ui-row title='State'}}
    {{ui-json value=author.state}}
  {{/ui-row}}
{{/ui-block}}
