{{#ui-block title='author'}}
  <div>{{author.rev}}</div>
  {{ui-input title='name' value=author.name}}
  {{ui-input title='email' value=author.email}}
  {{ui-json value=author.state}}
{{/ui-block}}
{{#ui-block}}
  {{ui-button title='Save' action=(action 'save')}}
  {{ui-button title='Delete' action=(action 'delete')}}
{{/ui-block}}
