{{#ui-block title='authors'}}
  {{#each authors as |author|}}
    <div {{action 'select' author}}>{{author.docId}} {{author.rev}}: {{author.name}} {{author.email}}</div>
  {{else}}
    <div>No authors</div>
  {{/each}}
{{/ui-block}}
{{#ui-block}}
  {{ui-button title='Load all authors' action=(action 'load')}}
{{/ui-block}}
