{{#ui-block title=author.name}}

  {{#ui-row title='Name'}}
    {{author.name}}
  {{/ui-row}}

  {{#ui-row title='Email'}}
    {{author.email}}
  {{/ui-row}}

  {{#ui-row title='1st Post (queries/author-first-post)'}}
    {{#if author.post}}
      <div>{{author.post.id}} {{author.post.title}}</div>
    {{else if author.post.isLoading}}
      <div>Loading…</div>
    {{else}}
      {{ui-button title='Load' action=(action 'loadPost')}}
    {{/if}}
  {{/ui-row}}

  {{#ui-row title='All Posts'}}
    {{#each author.posts as |post|}}
      <div>{{post}} {{post.id}} {{post.title}}</div>
    {{/each}}
  {{/ui-row}}

  {{#ui-row title='Blogs'}}
    {{#if author.blogs.isLoading}}
      <div>Loading array…</div>
    {{else if author.blogs.isError}}
      <div>{{ui-json value=author.blogs.error}}</div>
    {{else}}
      {{#each author.blogs as |blog|}}
        {{#if blog.isLoading}}
          <div>Loading {{blog.id}}…</div>
        {{else}}
          <div>{{blog.id}}: {{blog.name}}</div>
        {{/if}}
      {{else}}
        <div>No blogs</div>
      {{/each}}
    {{/if}}
  {{/ui-row}}

  {{#ui-row}}
    {{ui-button title='Edit' action=(action 'edit')}}
    {{ui-button title='Delete' action=(action 'delete')}}
  {{/ui-row}}

{{/ui-block}}
