{{#ui-block title=author.name}}

  {{#ui-row title='Name'}}
    {{author.name}}
  {{/ui-row}}

  {{#ui-row title='Email'}}
    {{author.email}}
  {{/ui-row}}

  {{#ui-row title='Blogs'}}
    {{#if author.blogs.isLoading}}
      <div>Loading…</div>
    {{else if author.blogs.isError}}
      <div>{{ui-json value=author.blogs.error}}</div>
    {{else}}
      {{#each author.blogs as |blog|}}
        <div>{{blog.id}}: {{blog.name}}</div>
      {{else}}
        <div>No blogs</div>
      {{/each}}
    {{/if}}
  {{/ui-row}}

  {{#ui-row}}
    {{ui-button title='Edit' action=(action 'edit')}}
    {{ui-button title='Delete' action=(action 'delete')}}
  {{/ui-row}}

{{/ui-block}}
