{{#ui-block title='store and database'}}
  {{#ui-row title='store'}}
    {{store}}
  {{/ui-row}}
  {{#ui-row title='models'}}
    {{#each store.modelNames as |modelName|}}
      <div>{{modelName}}</div>
    {{/each}}
  {{/ui-row}}
  {{#ui-row title='store.db.main' value=store.db.main showValue=true}}
    {{#ui-row}}
      {{store.db.main.documents.url}}
    {{/ui-row}}
    {{#ui-row}}
      {{#if info}}
        {{#ui-row title='CouchDB'}}
          {{ui-json value=info.couch}}
        {{/ui-row}}
        {{#ui-row title='Database'}}
          {{ui-json value=info.db}}
        {{/ui-row}}
      {{else}}
        {{ui-button title='get info' action=(action 'info')}}
      {{/if}}
    {{/ui-row}}
  {{/ui-row}}
{{/ui-block}}

{{#ui-block title='Session'}}
  {{#if session.isAuthenticated}}
    {{#ui-row title='Logged in'}}
      {{session.name}}
    {{/ui-row}}
    {{#ui-row}}
      {{ui-button title='Sign out' action=(action 'delete' target=session)}}
    {{/ui-row}}
  {{else}}
    {{#ui-row title='Name'}}
      {{ui-input value=session.name}}
    {{/ui-row}}
    {{#ui-row title='Password'}}
      {{ui-input value=session.password type='password'}}
    {{/ui-row}}
    {{#ui-row}}
      {{ui-button title='Sign in' action=(action 'save' target=session)}}
    {{/ui-row}}
  {{/if}}
{{/ui-block}}
